<div class="bg" style="background-image: url(https://res.cloudinary.com/diiwzk17a/image/upload/v1597509320/bg_er6x8h.jpg)">
  <div class="flex-container p-4">

    <div class="card-product-new m-3">
    <h1 class="text-center">Add your cocktail</h1>
    </div>
    <%= simple_form_for [@cocktail] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "label" %>
    <% end %>

  <%= link_to root_path, { class: "btn m-3" } do %>
  <span class="label label-primary"><i class="fas fa-backward"></i></span>
  <% end %>
  </div>


</div>



