<% if @cocktail.photo.attached? %>
          <div class="card mb-4" style="background-image: url('<%= cl_image_path(@cocktail.photo.key, height: 300, width: 400, crop: :fill)%>');">
        <% else %>
          <div class="card mb-4">
        <% end %>
   <%= @cocktail.name.capitalize %>
</div>
<div id="cocktail-image">

</div>
  <div class="card-category pl-3">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li class="js">Recipe: <%= dose.description %> <%= dose.ingredient.name.capitalize %>
         <%=link_to dose_path(dose), method: :delete, data: { confirm: "Delete #{dose.description}?" } do %>
          <i class="fa fa-trash p-2" aria-hidden="true"></i>
        <% end %>
        </li>
        <% end %>
    </ul>
 </div>
<div class="container-fluid px-4 pt-4">
<h4>Add ingredients for <%= @cocktail.name.capitalize %></h4>
<%= render 'doses/new', dose: @dose %></p>
</div>

<%= link_to root_path, { class: "btn btn-primary mx-4" } do %>
  <span class="label label-primary">Back</span>
<% end %>
